<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android" id="com.ahlibank.tokenization" version="1.0.0">
	<name>TokenizationConventional</name>
	<js-module name="TokenizationConventional" src="www/TokenizationConventional.js">
		<clobbers target="cordova.plugins.TokenizationConventional" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="TokenizationConventional">
				<param name="android-package" value="com.ahlibank.tokenization.TokenizationConventional" />
			</feature>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<service android:exported="true" android:name="com.thalesgroup.gemalto.d1.d1pay.D1HCEService" android:permission="android.permission.BIND_NFC_SERVICE">
				<intent-filter>
					<action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>
				<meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/apduservice" />
			</service>
		</config-file>
		
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<service android:exported="false" android:name="com.ahlibank.tokenization.D1FirebaseService">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT" />
				</intent-filter>
			</service>
			
			<service android:exported="false" android:name="com.ahlibank.tokenization.D1HmsMessageService">
				<intent-filter>
					<action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
				</intent-filter>
			</service>
		</config-file>
		
		

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:label="TransactionSent" android:name="com.ahlibank.tokenization.TransactionSent" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
		</config-file>
		<config-file parent="/manifest/" target="AndroidManifest.xml">
			<uses-feature android:name="android.hardware.nfc.hce" />
			<uses-feature android:name="android.hardware.nfc" />
			<uses-permission android:name="android.permission.USE_FINGERPRINT" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.NFC" />
			<uses-permission android:name="android.permission.USE_BIOMETRIC" />
			<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
		</config-file>
		<config-file parent="/resources" target="res/values/strings.xml">
			<string name="label_payment">payment</string>
			<string name="label_d1_pay_description">payment description</string>
		</config-file>
		<resource-file src="src/android/assets/gemcbp.properties" target="assets/gemcbp.properties" />
		<resource-file src="src/android/assets/mobilegateway.properties" target="assets/mobilegateway.properties" />
		<resource-file src="src/android/assets/rages.properties" target="assets/rages.properties" />
		<resource-file src="src/android/apduservice.xml" target="res/xml/apduservice.xml" />
		<resource-file src="src/android/layout/transaction_sent_drop2.xml" target="res/layout/transaction_sent_drop2.xml" />
		<source-file src="src/android/drawable/dummy_card_image.png" target-dir="res/drawable/" />
		<source-file src="src/android/drawable/header_cross.png" target-dir="res/drawable/" />
		<source-file src="src/android/drawable/ring_white.png" target-dir="res/drawable/" />
		<source-file src="src/android/drawable/drop2_success.png" target-dir="res/drawable/" />
		<source-file src="src/android/drawable/drop2_header.xml" target-dir="res/drawable/" />
		<source-file src="src/android/TokenizationConventional.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<source-file src="src/android/D1FirebaseService.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<source-file src="src/android/D1HmsMessageService.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<source-file src="src/android/CoreUtils.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<source-file src="src/android/PaymentData.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<source-file src="src/android/PaymentErrorData.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<source-file src="src/android/PaymentState.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<source-file src="src/android/TransactionSent.java" target-dir="src/com/ahlibank/tokenization/TokenizationConventional" />
		<framework custom="true" src="src/android/d1-build.gradle" type="gradleReference" />
		<resource-file src="src/android/libs/d1-release-d1pay-4.0.1.aar" target="libs/d1-release-d1pay-4.0.1.aar" />
		<resource-file src="src/android/libs/d1-debug-d1pay-4.0.1.aar" target="libs/d1-debug-d1pay-4.0.1.aar" />
	</platform>
	<platform name="ios">
		
		<!-- Tokenization Configuration -->
		<config-file parent="/*" target="config.xml">
			<feature name="TokenizationConventional">
				<param name="ios-package" value="TokenizationConventional" />
			</feature>
		</config-file>
		
		<hook type="before_plugin_install" src="hooks/npmInstall.js" />
        <hook type="before_plugin_install" src="hooks/iosCopyExtensions.js" />
        <hook type="after_plugin_install" src="hooks/iosAddUIExtension.js" />
		<hook type="after_plugin_install" src="hooks/iosAddNONUIExtension.js" />
		
		<!-- Hooks for fixing provisioning profiles -->
		
		<hook type="before_plugin_install" src="hooks/saveJsonInfo.js" />
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
		<hook type="after_plugin_install" src="hooks/copyAndUnzipProvisioningProfiles.js"/>
		<hook type="after_plugin_install" src="hooks/fixExportOptions.js"/>
		<hook type="before_prepare" src="hooks/copyProvisioningProfiles.js"/>
		<hook type="before_prepare" src="hooks/editXcodeProj.js" />	
		<hook type="before_prepare" src="hooks/fixReleaseSection.js" />	
		
		<!-- Register a hook to modify the Podfile -->
    	<hook type="after_prepare" src="hooks/merge_podfile.js"/>
		
		<!-- Source files for tokenization and Wallet extension -->
		<source-file src="src/ios/TokenizationConventional.swift" />
		
		<!-- Required frameworks for tokenization and payment -->
		<framework src="src/ios/D1/Debug/D1.xcframework" embed="true" custom="true" />
		<framework src="src/ios/D1/Debug/D1Core.xcframework" embed="true" custom="true" />
		<framework src="src/ios/D1/Debug/TPCSDKSwift.xcframework" embed="true" custom="true" />
		<framework src="src/ios/D1/Debug/SecureLogAPI.xcframework" embed="true" custom="true" />
		
		<!-- Card Image Resource files -->
		<resource-file src="src/ios/Resources/ABOlogo.png" target="Resources/ABOlogo.png" />
		<resource-file src="src/ios/Resources/001.png" target="Resources/001.png" />
		<resource-file src="src/ios/Resources/002.png" target="Resources/002.png" />
		<resource-file src="src/ios/Resources/003.png" target="Resources/003.png" />
		<resource-file src="src/ios/Resources/006.png" target="Resources/006.png" />
		<resource-file src="src/ios/Resources/007.png" target="Resources/007.png" />
		<resource-file src="src/ios/Resources/021.png" target="Resources/021.png" />
		<resource-file src="src/ios/Resources/CSC.png" target="Resources/CSC.png" />
		<resource-file src="src/ios/Resources/MK6.png" target="Resources/MK6.png" />
		<resource-file src="src/ios/Resources/STD.png" target="Resources/STD.png" />
		<resource-file src="src/ios/Resources/VPC.png" target="Resources/VPC.png" />
		<resource-file src="src/ios/Resources/VSC.png" target="Resources/VSC.png" />
		<resource-file src="src/ios/Resources/VUM.png" target="Resources/VUM.png" />
		<resource-file src="src/ios/Resources/VPR.png" target="Resources/VPR.png" />
		<resource-file src="src/ios/Resources/IPS-MNS.png" target="Resources/IPS-MNS.png" />
		<resource-file src="src/ios/Resources/VPP-MNP.png" target="Resources/VPP-MNP.png" />
		
		<!-- Application Group Entitlements for both Debug and Release -->
		<config-file parent="com.apple.security.application-groups" target="*-Debug.plist">
			<array>
				<string>group.com.ahlibank.om</string>
			</array>
		</config-file>
		<config-file parent="com.apple.security.application-groups" target="*-Release.plist">
			<array>
				<string>group.com.ahlibank.om</string>
			</array>
		</config-file>	

		<!-- Entitlements -->
		<config-file parent="com.apple.developer.payment-pass-provisioning" target="*-Debug.plist">
			<true/>
		</config-file>
		<config-file parent="com.apple.developer.payment-pass-provisioning" target="*-Release.plist">
			<true/>
		</config-file>		
		
		<podspec>
            <pods use-frameworks="true">
                <pod name="d1-libs-debug" options=":path => './Libs/d1-libs-debug', :configurations => ['Debug']"/>
                <pod name="d1-libs-release" options=":path => './Libs/d1-libs-release', :configurations => ['Release']"/>
            </pods>
        </podspec> 
		
	</platform>
</plugin>